﻿@import url(http://fonts.googleapis.com/css?family=Open+Sans);

* {
    font-family: "Open Sans", "Heiti TC", "LiHei Pro", "Helvetica Neue", Helvetica, Arial, "微軟正黑體", "微软雅黑", "メイリオ", "맑은 고딕", sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}

.head {
    width: 100%;
    height: 80px;
    /*background: #29293A;*/
    background-image: -moz-linear-gradient(0deg, #33d5c5, #4bccef);
    background-image: -webkit-linear-gradient(0deg, #33d5c5, #4bccef);
    background-image: linear-gradient(90deg, #33d5c5, #4bccef);
}

    .head a, .head a:active {
        text-decoration: none;
    }

    .head h1 {
        margin: 0 0 0 40px;
        padding: 20px 0 0 0;
        color: #fff;
        text-align: left;
    }

/* 功能選單 */
.panel-control {
    height: 40px;
    background: #444444;
}

    .panel-control .control-group {
        margin: 0;
        padding: 0;
        border: 0;
        list-style-type: none;
    }

    .panel-control .control-group-right {
        margin: 0;
        padding: 0;
        border: 0;
        list-style-type: none;
        float: right;
    }

    .panel-control .control-group li {
        float: left;
    }

    .panel-control .control-group .control {
        display: block;
        margin: 0;
        padding: 9px 20px 7px 20px;
        text-decoration: none;
        font-size: 18px;
        color: #fff;
        outline: none;
    }

        .panel-control .control-group .control:hover {
            background: #333333;
        }

        .panel-control .control-group .control:active {
            background: #111111;
        }



/* 資料列表 */
.panel-list .table-list {
    padding: 5px 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: #434C5D;
    color: #fff;
}

    .panel-list .table-list tr:first-child {
        background: #333C4D;
    }

    .panel-list .table-list tr {
        height: 50px;
        border-bottom: 1px solid #aaaaaa;
    }



/* 彈出視窗 */
.panel {
    background: #f7f7f7 !important;
    display: none;
}

.panel-form {
    margin: 10px 0;
}

    .panel-form .row {
        height: 30px;
        margin: 4px 0;
    }

    .panel-form .right-align {
        position: absolute;
        left: 100px;
    }

    .panel-form .text {
        padding: 2px 6px;
        font-size: 14px;
    }

    .panel-form .text-sm {
        width: 30px;
    }

    .panel-form .text-lg {
        width: 120px;
    }

    .panel-form .button {
        position: absolute;
        bottom: 10px;
        outline: none;
    }

        .panel-form .button:hover {
            background: #E1E1E1;
        }

        .panel-form .button:active {
            background: #434C5D;
        }


    .panel-form #btnPanelSubmit {
        right: 95px;
    }

    .panel-form #btnPanelCancel {
        right: 15px;
    }

    .panel-form #btnDelSubmit {
        right: 95px;
    }

    .panel-form #btnDelCancel {
        right: 15px;
    }

    .panel-form .dropdown {
        font-size: 14px;
        padding: 2px;
        font-family: "Open Sans", "Heiti TC", "LiHei Pro", "Helvetica Neue", Helvetica, Arial, "微軟正黑體", "微软雅黑", "メイリオ", "맑은 고딕", sans-serif;
    }

    .panel-form .check-group {
        height: 300px;
        width: 100%;
        margin-top: 10px;
        border: 1px solid #dddddd;
        overflow-y: scroll;
    }

        .panel-form .check-group .checklist {
            width: 96%;
            margin: 5px;
        }

            .panel-form .check-group .checklist tr:hover {
                background: #dddddd;
            }

            .panel-form .check-group .checklist input[type='checkbox'] {
                cursor: pointer;
                margin-left: 10px;
            }

            .panel-form .check-group .checklist label {
                cursor: pointer;
            }
