@import "compass/reset"
@import "bootstrap"
@import "compass/css3"
@import "grid.sass"


/* 設定參數 */


// 設定 mixin

// extend
%transition-set
	+transition( all 0.5s ease-in-out)

%text-shadow
	text-shadow: 0px 1px 8px rgba(#000, 0.8)

%word-nobreak
	display: block
	overflow: hidden
	text-overflow: ellipsis
	white-space: nowrap

// globe style
body
	background: #333C4D
	position: relative
	overflow-x: hidden

a
	color: $link-color
	&:hover,&:focus,&:active,&.active
		color: $link-color-hover
	&.link-color
		color: $brand-primary
		&:hover,&:focus,&:active,&.active
			color: $brand-primary
			text-decoration: underline
.container-wide
	width: 100%
	min-width: 1280px
.container
	width: 100%

.row
	&.gap-none
		margin-left: 0px
		margin-right: 0px
		div[class^="col-"]
			padding-left: 0px
			padding-right: 0px
	&.gap-small
		margin-left: -5px
		margin-right: -5px
		div[class^="col-"]
			padding-left: 5px
			padding-right: 5px
	&.gap-middle
		margin-left: -10px
		margin-right: -10px
		div[class^="col-"]
			padding-left: 10px
			padding-right: 10px
	&.gap-large
		margin-left: -15px
		margin-right: -15px
		div[class^="col-"]
			padding-left: 15px
			padding-right: 15px

.page-header
	+background-image(linear-gradient(90deg,$brand-success,$brand-primary))
	border-bottom: 0px
	margin: 0px
	padding: 0px
	color: #FFF
	height: 90px
	&.gradient-primary
		+background-image(linear-gradient(90deg,$brand-info,$brand-purple))
	&.gradient-danger
		+background-image(linear-gradient(90deg,$brand-danger,$brand-warning))
	.navbar-header
		float: none
	.branding
		&.channel
			width: 30%
			.powchano
				@extend %word-nobreak
				width: 100%
				height: 70px
		&.wide
			width: auto
	.header-logo
		font-size: (32px / $font-size-base) + em
		+text-shadow(0 1px 3px rgba(#000,0.1))
		font-weight: 800
		margin: 16px 0 5px
		&.powchano
			margin-top: 12px
			padding-top: 16px
			padding-left: 70px
			position: relative
			.iek-icon
				position: absolute
				top: 0px
				left: 0px
	.completion-date
		font-size: $font-size-base
	.current-date-time
		float: right
		font-size: (36px / $font-size-base) + em
		font-weight: 300
		font-family: Roboto, serif
		position: absolute
		top: 20px
		right: 15px
		small
			font-size: (14px / $font-size-base) + em
			padding: 0 3px
		&.has-setting
			position: absolute
			top: 0px
			right: 15px
			font-size: 1em
			padding-top: 8px
			padding-right: 90px
			small
				font-size: (11px / $font-size-base) + em
				padding: 0 3px
			.date-time
				text-align: right
				.date
					font-size: (20px / $font-size-base) + em
					display: block
					margin-top: 5px
				.time
					font-size: (30px / $font-size-base) + em
					display: block
			.setting-wrap
				position: absolute
				top: 0px
				right: 0px
				margin-top: 8px
				padding-left: 10px
				&:before
					content: ""
					display: table
					clear: both
					width: 1px
					height: 40px
					position: absolute
					top: 15px
					left: 0px
					background: #FFF
				.iek-icon
					width: 60px
					height: 60px
					margin-top: 5px


	.out-status
		position: absolute
		top: 0px
		left: 30%
		padding-left: 70px
		.iek-icon
			position: absolute
			top: 12px
			left: 0px
		.status-name
			font-size: (18px / $font-size-base) + em
			margin-top: 8px
		.out-status-group
			&:after
				content: ""
				display: table
				clear: both
			.status-value
				float: left
				margin-right: 20px
				.values
					font-size: (30px / $font-size-base) + em
				.unit
					font-size: (20px / $font-size-base) + em
					font-weight: 300
					.upbig
						font-size: 1.6em
					.super
						vertical-align: super
						font-size: 0.85em

.content-above
	padding: 15px
	.boxshadow
		+box-shadow(0 0 20px rgba(#000,0.3))
		+border-radius(10px)
		.iek-control-panel
			+border-radius(10px 0 0 10px)
		.panel-grand-total
			+border-radius(0 10px 10px 0)


//
.flex-container
	+display-flex
	+flex-wrap(wrap)
.flex-column-1
	display: inline-block
	/* non-flexbox browsers
	+flex(1 0)
.flex-column-2
	display: inline-block
	+flex(2 0)
.flex-column-3
	display: inline-block
	+flex(3 0)


.iek-icon
	display: inline-block
	width: 70px
	height: 70px
	+background-size(100%)
	background-repeat: none
	&.icon-1
		background-image: url("../img/icon-1.svg")
	&.icon-2
		background-image: url("../img/icon-2.svg")
	&.icon-3
		background-image: url("../img/icon-3.svg")
	&.icon-4
		background-image: url("../img/icon-4.svg")
	&.icon-5
		background-image: url("../img/icon-5.svg")
	&.icon-6
		background-image: url("../img/icon-6.svg")
	&.icon-7
		background-image: url("../img/icon-7.svg")
	&.icon-8
		background-image: url("../img/icon-8.svg")
	&.icon-9
		background-image: url("../img/icon-9.svg")
	&.icon-10
		background-image: url("../img/icon-10.svg")
	&.icon-11
		background-image: url("../img/icon-11.svg")
	&.icon-12
		background-image: url("../img/icon-12.svg")
	&.icon-13
		background-image: url("../img/icon-13.svg")
	&.icon-14
		background-image: url("../img/icon-14.svg")

.progress
	height: 8px
	+border-radius(50px)
	background: #333C4D
	margin-bottom: 5px
	.progress-bar
		+border-radius(50px)
		line-height: 8px
		+box-shadow(0 0 0 rgba(#FFF,0))
		&.bar-success
			+background-image(linear-gradient(90deg,$brand-success,$brand-primary))
		&.bar-primary
			+background-image(linear-gradient(90deg,$brand-primary,$brand-purple))
		&.bar-warning
			+background-image(linear-gradient(90deg,$brand-warning,$brand-success))
		&.bar-info
			+background-image(linear-gradient(90deg,$brand-info,$brand-danger))
		&.bar-danger
			+background-image(linear-gradient(90deg,$brand-warning,$brand-danger))
		&.bar-purple
			+background-image(linear-gradient(90deg,$brand-purple,$brand-danger))

.iek-control-panel
	background: #434C5D
	font-family: 'Roboto', sans-serif
	padding: 35px 15px
	.data-item
		color: #FFF
		&:after
			content: ''
			display: table
			clear: both
		.iek-icon
			position: absolute
			top: 0px
			left: 15px
			width: 75px
			height: 75px
			+background-size(100% 100%)
			margin-top: 10px
		.iek-data
			padding: 10px 15px 10px 100px
			.data-number
				font-size: (36px / $font-size-base) + em
				font-weight: 300
				margin-right: 8px
				small
					font-size: 0.5em
			.data-name
				font-size: (18px / $font-size-base) + em
				color: rgba(#FFF,0.7)


.panel-grand-total
	background: #3A4354
	height: 100%
	padding: 30px 30px 0 30px

.iek-monthly-electricity
	height: 400px
	padding: 50px 30px 0 30px

.iek-yearly-electricity
	height: 400px
	padding: 50px 30px 0 30px

#footer
	overflow: hidden
	border-top: 1px solid #384151
	background: #2B3442
	margin-top: 30px
	height: 37px
	position: fixed
	bottom: 0px
	left: 0px
	width: 100%
	.copyright
		width: 100%
		text-align: center
		color: rgba(#FFF, 0.5)
		padding: 10px 0
		font-size: (12px / $font-size-base) + em
.footer-speace
	height: 37px
	width: 100%

.instant-power
	color: #FFF
	.name
		font-size: (20px / $font-size-base) + em
		padding: 0 0 0 20px
	.power-value
		padding: 30px 0px
		text-align: center
		.iek-icon
			width: 90px
			height: 90px
			display: inline-block
		.amount
			display: inline-block
			height: 90px
			position: relative
			top: -20px
			.value
				font-size: (66px / $font-size-base) + em
				padding: 0 0 10px 0
				display: inline-block
			.unit
				font-size: (18px / $font-size-base) + em
				font-weight: 300
				font-family: 'Roboto', sans-serif

.power-item
	& + .power-item
		margin-top: 10px
	&::after
		content: ""
		display: table
		clear: both
	.name-title
		color: #FFF
		font-size: (16px / $font-size-base) + em
		float: left
		width: 30%
		padding: 8px 0 0 0
		.name
			padding-top: 5px
	.values
		float: left
		width: 70%
		color: #FFF
	.amount
		color: $brand-success
		font-size: (46px / $font-size-base) + em
		&.text-danger
			color: $brand-danger
	.unit
		color: #FFF
		font-size: (18px / $font-size-base) + em
	.save-value
		color: #FFF
		font-size: (18px / $font-size-base) + em
		margin-left: 15px


.power-electricity
	height: 500px
	padding: 30px 30px 0 30px
	position: relative
	&.generate
		.chart-other
			.other-bottom
				padding: 0 7% 0 11%
				.percent-xAxis
					> li
						.value
							font-size: 1.1em
						.unit
							font-size: 0.95em
	&.generate-yearly
		.chart-other
			.other-bottom
				padding: 0 10% 0 16%
				.percent-xAxis
					> li
						.value
							font-size: 1.1em
						.unit
							font-size: 0.95em
	&.power-yearly
		.chart-other
			.other-bottom
				padding: 0px 11% 0 25.5%
				.percent-xAxis
					> li
						.value
							font-size: 0.9em
						.unit
							font-size: 0.9em
	&.ranking
		.chart-other
			.other-bottom
				bottom: 10px
				text-align: center
		.iek-icon
			width: 30px
			height: 30px
			+background-size(100%)
			display: inline-block
			margin-right: 10px
		.rank-warp
			display: inline-block
			.rank-item
				display: inline-block
				position: relative
				top: -10px
				color: #FFF
				font-size: (18px / $font-size-base) + em
				& + .rank-item
					margin-left: 20px
				.bage
					width: 26px
					height: 26px
					background: $brand-success
					color: $gray-base
					font-size: 0.8em
					display: inline-block
					+border-radius(50px)
					text-align: center
					line-height: 26px
					margin-right: 5px

	.chart-other
		.other-top
			position: absolute
			top: 32px
			right: 5%
			color: #91A1B7
			font-size: (16px / $font-size-base) + em
			.value
				font-size: 1.6em
				color: $brand-danger
				display: inline-block
				padding: 0 8px
			.unit
				color: #FFF
		.other-bottom
			position: absolute
			bottom: 10px
			left: 0px
			width: 100%
			padding: 0 9.5% 0 10.2%
			.percent-xAxis
				&::after
					content: ""
					display: table
					clear: both
				> li
					float: left
					color: #91A1B7
					text-align: center
					width: 8.3333%
					.value
						font-size: 1em
						color: $brand-danger
						padding-right: 0px
			.percent-name
				text-align: center
				font-size: (16px / $font-size-base) + em
				padding-top: 5px
				color: #FFF
				margin-left: -15px
				margin-right: -15px
				.gray
					color: #91A1B7
